<!-- Page that show 1 dog  -->

{% extends 'layout.html' %} {% block body %}
<div class="container" style="max-width: 600px; margin-top: 5rem">
  <div class="jumbotron text-left">
    <div class="container" style="margin-bottom: 3rem">
      <h1>API endpoints</h1>
      <p>
        You can try these enpoint out for example in
        <a href="https://www.postman.com">Postman</a>. </br> In the <strong> key </strong> field write
        "api_key" and in the <strong> value </strong> field paste in your api key.
      </p>
    </div>

    <div class="card" style="width: 30rem">
      <div class="card-header">
        Your API key:<strong> {{session.api_key}} </strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          GET all: <strong> /api/all/ </strong> method = <strong>GET</strong>
        </li>
        <li class="list-group-item">
          GET one: <strong> /api/dog/id/ </strong> method = <strong>GET</strong>
        </li>
        <li class="list-group-item">
          ADD a dog: <strong> /api/dog/add/ </strong> method =
          <strong>POST</strong>
        </li>
        <li class="list-group-item">
          Edit a dog: <strong> /api/dog/edit/id/</strong> method =
          <strong>PUT</strong>
        </li>
        <li class="list-group-item">
          Delete a dog: <strong> /api/dog/delete/id/ </strong> method =
          <strong>DELETE</strong>
        </li>
      </ul>
    </div>
    <p style="margin-top: 2rem;"> Where it stands "id" you write the id of the dog you want to get, edit or delete
  </br> To add a new dog you will have to fill out in all the values </p>
  </div>
</div>

{% endblock %}
