{% extends 'layout.html' %}

{% block body%}
    <div class="container">
        <h1>Dashboard - <small>User {{session.username}}</small></h1>
        <a class="btn btn-success" href="/add-dog">ADD YOUR MISSING DOG</a>
        <hr>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>LAST SEEN</th>    
                <th>HOME AREA</th>    
                <th>AGE</th>    
                <th>OWNER</th>
                <th>COMMENTS</th>
                <th></th>
                <th></th>
            </tr>
            {% for dogs in dogs %}
            <tr>
                <td>{{dogs.id}}</td>
                <td>{{dogs.dogName}}</td>
                <td>{{dogs.lastSeen}}</td>
                <td>{{dogs.home}}</td>
                <td>{{dogs.dogAge}}</td>
                <td>{{dogs.owner}}</td>
                <td>{{dogs.comments}}</td>
                <td><a href="edit_dog/{{dogs.id}}" class="btn btn-default pull-right">EDIT</a></td>
                <td><a href="#" class="btn btn-danger">DELETE</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}