<!-- Page that show 1 dog  -->

{% extends 'layout.html' %} {% block body %}
<div class="container">
  <!-- showing one dog that the user has just added -->
  <h1>{{dog.dogName}}</h1>
  <ul>
    <li>Last seen at: {{dog.lastSeen}}</li>
    <li>His home area: {{dog.home}}</li>
    <li>Age: {{dog.age}}</li>
  </ul>

  <hr />
  <div>{{dog.comments | safe}}</div>

  <a href="/all-dogs">
    <button
      style="margin: 0 auto; display: flex; margin-top: 2rem"
      type="button"
      class="btn btn-danger btn-rounded"
    >
      See all dogs
    </button>
  </a>
</div>

{% endblock %}
