<!-- Page that displays all dogs  -->

{% extends 'layout.html' %} {% block body %}
<div class="container" style="max-width: 800px; margin-top: 5rem">
  <div class="jumbotron text-center">
    <h3 style="margin-bottom: 2rem">DOGS THAT ARE CURRENTLY LOST</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for dog in dogs %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <a href="dog/{{dog.id}}">
              <h5 class="card-title">{{dog.dogName}}</h5></a
            >
            <p class="card-text">Last seen at {{dog.lastSeen}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock %}
  </div>
</div>
