<!-- form to add a missing dog  -->

{% extends 'layout.html' %} {% block body %}
<div class="container" style="max-width: 600px; margin-top: 5rem">
  <h1>Edit a missing dog</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="mb-4">
      {{ render_field(form.dogName, class_="form-control") }}
    </div>
    <div class="mb-4">
      {{ render_field(form.dogAge, class_="form-control") }}
    </div>
    <div class="mb-4">
      {{ render_field(form.owner, class_="form-control") }}
    </div>
    <div class="mb-4">{{ render_field(form.home, class_="form-control") }}</div>
    <div class="mb-4">
      {{ render_field(form.lastSeen, class_="form-control") }}
    </div>
    <div class="mb-4">
      {{ render_field(form.comments, class_="form-control", id="editor") }}
    </div>
    <p>
      <input
        class="btn btn-warning btn-block mb-4"
        type="submit"
        value="Submit"
      />
    </p>
  </form>
</div>
{% endblock %}
