body {
  background-color: rgba(244, 244, 244, 0.897);
}

p.lead {
  color: azure;
}

div div h3 h2 {
  color: azure;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: whitesmoke;
}
